@import "bootstrap/dist/css/bootstrap.min.css";
html, body {
    margin: 0;
    padding: 0;
  }

  .bg-custom {
    background-color: #181c34;
  }
  .developer-cell {
    text-align: center;
    padding: 10px;
    position: relative; /* Make sure it's relative to the cell */
  }
  
  .developer-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ccc;
    cursor: pointer;
  }
  
  .developer-name {
    position: absolute;
    top: -40%; /* Move the tooltip up relative to the icon */
    right: -10px; /* Move the tooltip to the right of the icon */
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 10; /* Ensure it appears above other elements */
  }
  
  .developer-cell:hover .developer-name {
    visibility: visible;
    opacity: 1;
  }

  .status {
    padding: 2px 5px;
    border-radius: 3px;
    color: white; /* Optional: to make the text color white */
  }
  
  .status-ready {
    background-color: #007bff; /* Blue */
  }
  
  .status-in-progress {
    background-color: #ffc107; /* Yellow */
    color: black; 
  }
  
  .status-waiting {
    background-color: #dc3545; /* Red */
  }
  
  .status-pending {
    background-color: #17a2b8; /* Teal */
    color: white; 
  }
  
  .status-done {
    background-color: #28a745; /* Green */
  }
  
  .status-stuck {
    background-color: #6c757d; /* Gray */
    color: white; 
  }

  .priority {
    padding: 2px 5px;
    border-radius: 3px;
    color: white; /* Optional: to make the text color white */
}

.priority-critical {
    background-color: darkred;
}

.priority-high {
    background-color: red;
}

.priority-medium {
    background-color: orange;
}

.priority-low {
    background-color: green;
}

.priority-best-effort {
    background-color: blue;
}

.type {
    padding: 2px 5px;
    border-radius: 3px;
    color: white; /* Optional: to make the text color white */
}

.type-feature {
    background-color: lightblue;
}

.type-enhancements {
    background-color: lightgreen;
}

.type-other {
    background-color: lightgray;
}

.type-bug {
    background-color: lightcoral;
}

