<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Main Table</h3>
    </div>
    <div class="panel-body">
        <table class="table-bordered table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Item 1</td>
                    <td>Complete</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Item 2</td>
                    <td>In Progress</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Item 3</td>
                    <td>Pending</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
